<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проект ещё находится в разработке!</title>
</head>
<body>
<a>Внимание! Этот проект все ещё находится в разработке. Все данные, визуальный контент - примерные. </a>
<a>Копирование, передача, пересылка самих данных, используемых template-шаблонов запрещено. Все действия на сайте</a>
<a>выполняются в соответствии с Законодательством РФ. Регистрируясь на этом сайте, вы разрешаете разработчику делать</a>
<a>всё что угодно с вашими данными, действиями и тд. Поэтому будьте аккуратны, оставляя свои персональные данные.</a>
<a>Ниже приведён список задач, план, по которому будет осуществляться дальнейшая разработка:</a>
<ul>
    <li>Исправление ошибки с выпадающем списком городов.     status: </li>
    <li>Создание шаблона со списокм отелей.   </li>
    <li>Создание полного интерфейса для админов.   </li>
    <li>Разветвление сессий и правильная обработка ролей участников.     </li>
    <li>Обучение нейросети Support   </li>
    <li>Добавление нового функционала нейросети Support   </li>
    <li>Добавление и обработка ошибок 418 и 405   status:</li>
    <li>Добавление CSS-стилей для всех страниц   </li>
    <li>Добавление пункта О нас и создание шаблона к нему   </li>
    <li>Добавление презентации в пункт О нас в стиле сайта сустранзита   </li>
    <li>Добавление прочего функционала для админов   </li>
    <li>Создание нормальной и понятной базы для просмотра отелей   </li>
    <li>Перенос заявления о владельце отеля внутрь меню выбора отелей   </li>
    <li>Создание нового формата профиля + возможность загрузить аватар + более подробная информация + возможность просмотра других аккаунтов   </li>
    <li>ВОЗМОЖНО!!! Бутстрап   </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

</ul>
<a href="/mainpage">Продолжить</a>
</body>
</html>