<!DOCTYPE html>
<html>
<head>
    <title>Список отелей</title>
</head>
<body>
    <h3>Выберите страну и город:</h3>
    <form id="filterForm">
        <select id="countrySelect">
            {% if hotels_by_country %}
                {% for country in hotels_by_country.keys() %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            {% else %}
                <option value="">Нет данных об отелях</option>
            {% endif %}
        </select>
        <select id="citySelect">
            {% if hotels_by_country %}
                <option value="">Выберите страну</option>
            {% else %}
                <option value="">Нет данных об отелях</option>
            {% endif %}
        </select>
        <button type="button" id="filterButton">Применить фильтр</button>
    </form>
    <h3>Список отелей:</h3>
    <ul id="hotelsList">
        <!-- Отели будут отображаться на основе выбранной страны и города -->
    </ul>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Заполнение списка городов на основе выбранной страны
            $('#countrySelect').change(function() {
                var selectedCountry = $(this).val();
                var cities = Object.keys({{ hotels_by_country | tojson }});
                var filteredCities = cities.filter(function(city) {
                    return city !== 'Неизвестно';
                });
                $('#citySelect').empty();
                filteredCities.forEach(function(city) {
                    $('#citySelect').append($('<option>', {
                        value: city,
                        text: city
                    }));
                });
            });

            // Фильтрация отелей на основе выбранной страны и города
            $('#filterButton').click(function() {
                var selectedCountry = $('#countrySelect').val();
                var selectedCity = $('#citySelect').val();
                var hotels = {{ hotels_by_country | tojson }};
                var selectedHotels = hotels[selectedCountry][selectedCity];
                $('#hotelsList').empty();
                selectedHotels.forEach(function(hotel) {
                    $('#hotelsList').append($('<li>', {
                        text: hotel.tags.name
                    }));
                });
            });
        });
    </script>
</body>
</html>