<!DOCTYPE html>
<html>
<head>
    <title>Список отелей</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h3>Выберите страну и город:</h3>
    <form id="filterForm">
        <select id="countrySelect">
            <option value="">Выберите страну</option>
            {% for country_code, country_data in hotels_by_country.items() %}
                <option value="{{ country_code }}">{{ country_data['country_name'] }}</option>
            {% endfor %}
        </select>
        <select id="citySelect">
            <option value="">Выберите город</option>
        </select>
        <button type="button" id="filterButton">Применить фильтр</button>
    </form>

    <h3>Список отелей:</h3>
    <ul id="hotelsList">
        <!-- Отели будут отображаться на основе выбранной страны и города -->
    </ul>

    <script>
        $(document).ready(function() {
            $('#countrySelect').change(function() {
                var selectedCountry = $(this).val();
                if(selectedCountry) {
                    $.ajax({
                        url: '/get_cities',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ 'country_code': selectedCountry }),
                        success: function(response) {
                            $('#citySelect').empty();
                            $.each(response, function(key, value) {
                                $('#citySelect').append($('<option>', {
                                    value: value,
                                    text: value
                                }));
                            });
                        },
                        error: function(xhr) {
                            console.log(xhr.responseText);
                        }
                    });
                } else {
                    $('#citySelect').empty();
                }
            });

            $('#filterButton').click(function() {
                var selectedCountry = $('#countrySelect').val();
                var selectedCity = $('#citySelect').val();
                var hotels = {{ hotels_by_country | tojson }};
                var selectedHotels = hotels[selectedCountry][selectedCity];
                $('#hotelsList').empty();
                selectedHotels.forEach(function(hotel) {
                    $('#hotelsList').append($('<li>', {
                        text: hotel.tags.name // Используйте правильное поле для имени отеля
                    }));
                });
            });
        });
    </script>
</body>
</html>