<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
</head>
<body>
    <h1>Добро пожаловать в систему бронирования отелей!</h1>
    <!-- Navigation buttons -->
    <div>
        <a href="{{ url_for('profile') }}">Личный кабинет</a>
        <a href="#">Поиск</a>
        <a href="{{ url_for('support_chat') }}">Поддержка</a>
        <a href="#">Уведомления</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
    </div>

    <h2>Отели:</h2>
    <form action="/book" method="post">
        <ul>
            {% for room in rooms %}
                <li>
                    {{ room.name }} -
                    {% if room.available %}
                        <input type="radio" name="room_id" value="{{ room.id }}">
                    {% else %}
                        Нет свободных мест
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Book">
    </form>
</body>
</html>